<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
  <body>
    <div id="root">
      <div class="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1200px-Spotify_logo_without_text.svg.png" alt="">
        <select class="" name="" v-model="selected">
          <option value="">All</option>
          <option v-for="genre in genres" v-model="genre">{{genre}}</option>
        </select>
      </div>
      <div class="wrapper">
        <div v-if="selected == '' || selected == disc.genre " v-for="disc in discs" class="card_box">
          <img :src="disc.poster" :alt="disc.title">
          <h2>{{disc.title}}</h2>
          <div class="card_box_footer">
            <p>{{disc.genre}}</p>
            <p>{{disc.year}}</p>
          </div>

        </div>
      </div>
    </div>


    <script src="js/main.js" charset="utf-8"></script>
  </body>
  </html>
